
.pic
{
	margin-top:9px;
	
}
#picg
{
	margin-bottom:2px;

}
.sec {
	 background: #ffffff;
  height: 20%;
  width: 20%;
  padding: 5px;
  border-radius: 15px;
  
  margin-top:10px;
  
}
.stars {
  background: #ffffff;
  height: 40%;
  width: 80%;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  
   
  align-items: center;
  flex-direction: row-reverse;
  margin-top:10px;
  
  
}

.stars input{
  position: absolute;
  left: -99999px;
}

label {
  width: 15px;
  height: 30px;
  padding: 5px;
  color: transparent;
  
  
}

label::before {
  content: '★';
  color: #c0c0c0;
  font-size: 30px;
  line-height: 30px;
  margin-right: -100%;
}

label:hover::before,
label:hover ~ label::before,
.stars input:checked ~ label::before {
  color: #ffa500;
}



ul {
  list-style-type:none;
  padding:1px;

  font-size:16px;
 
  margin-left: 25%;
  margin-right:25%;

  line-height:40px;
  text-align:center;
 
 
}
 li {
	margin-bottom:2px;
	 border-radius: 15px;
float:left;

  background-color:LightBlue;
  width:120px;
}
ul a {
  font-family: Arial;
  
  color:#000;
  text-decoration:none;
 
}
ul > li > a:hover {
  color:#09C;
}

ul > li:hover {
  background-color:#EEE;
}

textarea
{
	
	    resize: none;
		width: 500px;
    height: 75px;
	margin:auto;
}

img:hover.pic
{
	-o-transition: all 0.6s;
	-moz-transition:all 0.6s;
	-webkit-transition:all 0.6s;
	-moz-transform:scale(1.1);
	-o-transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
.card{
	
	
  
}
.box
{
height: 400px;
  width: 95%;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
  
 
  
  font-size: 8px;
  overflow: hidden;
  margin-bottom:10px;
}
